[submodule "extern/pybind11"]
	path = extern/pybind11
	url = https://gitcode.com/GitHub_Trending/py/pybind11.git
	branch = stable
[submodule "extern/yalantinglibs"]
	path = extern/yalantinglibs
	url = https://gitcode.com/gh_mirrors/ya/yalantinglibs.git
	branch = v0.5.7
